
<h3>Todo</h3>

<div *ngFor="let todo of complete; trackBy: trackByFn" class="todo-list">
    <div gdAreas="handle todo remove"
         gdColumns="32px 1fr 32px">

        <div gdArea="handle" gdGridAlign="center center" class="handle">
            <mat-icon fxFlex aria-label="Reorder Todo">reorder</mat-icon>
        </div>

        <app-todo-item gdArea="todo" [todo]="todo" (changed)="changed.emit(todo)" (toggled)="toggle.emit(todo)"></app-todo-item>

        <div gdArea="remove" gdGridAlign="center center">
            <button class="remove"
                    type="button"
                    mat-icon-button
                    (click)="remove.emit(todo)">
                <mat-icon aria-label="Remove Todo">close</mat-icon>
            </button>
        </div>

    </div>
</div>
<div gdAreas=". icon input . "
     gdColumns="32px 32px 1fr 32px"
>
    <div gdArea="icon" gdGridAlign="center center">
        <mat-icon fxFlex>add</mat-icon>
    </div>
    <div gdArea="input">
        <mat-form-field fxFlexFill>
            <input matInput #addInput [formControl]="newTodoInput">
        </mat-form-field>
    </div>
</div>
<mat-divider></mat-divider>
<h3>Done</h3>
<div *ngFor="let todo of incomplete ; trackBy: trackByFn" class="todo-list">
    <div gdAreas="handle todo remove"
         gdColumns="32px 1fr 32px">

        <div gdArea="handle" gdGridAlign="center center" class="handle">
            <mat-icon fxFlex aria-label="Reorder Todo">reorder</mat-icon>
        </div>

        <app-todo-item gdArea="todo" [todo]="todo"  (changed)="changed.emit(todo)" (toggled)="toggle.emit(todo)"></app-todo-item>

        <div gdArea="remove" gdGridAlign="center center">
            <button class="remove"
                    type="button"
                    mat-icon-button
                    (click)="remove.emit(todo)">
                <mat-icon aria-label="Remove Todo">close</mat-icon>
            </button>
        </div>

    </div>
</div>

<button mat-button (click)="onAddClicked()">Add</button>


