<!--The content below is only a placeholder and can be replaced.-->

<!--<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <a mat-list-item>
                <mat-icon class="icon">input</mat-icon>
                <span class="label">Login</span>
            </a>
            <a mat-list-item>
                <mat-icon class="icon">home</mat-icon>
                <span class="label">Home</span>
            </a>
            <a mat-list-item>
                <mat-icon class="icon">dashboard</mat-icon>
                <span class="label">Dashboard</span>
            </a>
            <a mat-list-item type="button">
                <mat-icon class="icon">input</mat-icon>
                <span class="label">LogOut</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>
                <a>
                    Material Blog
                </a>
            </div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                    <li *ngIf="!authenticated">
                        <a routerLink="/login">
                            <mat-icon class="icon">input</mat-icon>
                            <span class="label">Login</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/">
                            <mat-icon class="icon">home</mat-icon>
                            <span class="label">Home</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/dashboard">
                            <mat-icon class="icon">dashboard</mat-icon>
                            <span class="label">Dashboard</span>
                        </a>
                    </li>
                    <li *ngIf="authenticated">
                        <a (click)="logout()">
                            <mat-icon class="icon">input</mat-icon>
                            <span class="label">LogOut</span>
                        </a>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <main >

        </main>
    </mat-sidenav-content>
</mat-sidenav-container>-->
<div *ngIf="!authenticated;then login else navigation"></div>
<ng-template #login>
    <app-login-page></app-login-page>
</ng-template>
<ng-template #navigation>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
                     [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                     [mode]="(isHandset$ | async) ? 'over' : 'side'"
                     [opened]="!(isHandset$ | async)">
            <mat-toolbar>Menu</mat-toolbar>
            <mat-nav-list>
                <a routerLink="/dashboard" mat-list-item routerLinkActive="active">Dashboard</a>
                <a routerLink="/todo" mat-list-item routerLinkActive="active">Todo</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary">


                <button
                        type="button"
                        aria-label="Toggle sidenav"
                        mat-icon-button
                        (click)="drawer.toggle()"
                        *ngIf="isHandset$ | async">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>


                <span >FlexPlayground</span>
                <button
                        type="button"
                        aria-label="Logout"
                        mat-icon-button
                        (click)="logout()"
                        *ngIf="authenticated">
                    <mat-icon aria-label="Side nav toggle icon">logout</mat-icon>
                </button>


            </mat-toolbar>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-template>








