


.todo-completed {
  text-decoration: line-through;
}

.wrapper-test{
 padding:4px;

}

.wrapper-test .remove{
  visibility:hidden;

  z-index: 2;
}

.wrapper-test:hover .remove{
  visibility:visible;

}

.wrapper-test .handle {
  visibility:hidden;

}
.wrapper-test:hover .handle{
  visibility:visible;
}
.wrapper-test:hover{

}
