<div>

  <div  class="wrapper-test" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" >
    <mat-icon class="handle">reorder</mat-icon>
    <mat-checkbox></mat-checkbox>
    <mat-form-field  fxFlex fxFlexAlign="center">
      <input  matInput id="todo+{{todo.id}}" (focus)="onFocus($event)" (blur)="onBlur($event)" value="{{todo.text}}">
    </mat-form-field>

    <button type="button" mat-icon-button class="remove" (click)="onRemove(todo)">
      <mat-icon aria-label="Remove Todo">close</mat-icon>
    </button>
  </div>





</div>


