<div
     gdColumns="32px 1fr">

    <div gdGridAlign="center center">
        <mat-checkbox
                [checked]="todo.completed"
                (change)="onCheckboxChanged($event)">
        </mat-checkbox>
    </div>

    <div *ngIf="!todo.completed" gdGridAlign="stretch center">
        <mat-form-field fxFlexFill>
            <input matInput
                   appInputAutofocus [shouldFocus]="todo.isEditing"
                   [formControl]="todoText"
                   (focus)="onInputFocus()"
                   (blur)="onBlur()"
                    >
        </mat-form-field>
    </div>

    <div *ngIf="todo.completed" gdGridAlign="stretch center">
        <span fxFlexFill [class.todo-completed]="todo.completed">
            {{todo.text}}
        </span>
    </div>
</div>

